<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConcertEntities" connectionString="metadata=res://*/ConcertModel.csdl|res://*/ConcertModel.ssdl|res://*/ConcertModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Concert;Persist Security Info=True;User ID=root;Password=pass;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>